In [3]:
import pandas as pd

# Load the CSV file to inspect the data
file_path = 'data/Human_Evaluation.csv'
data = pd.read_csv(file_path)

# Display the first few rows and the structure of the data
data.head()

,Question_1,Unnamed: 1,Unnamed: 2,Unnamed: 3,Question_2,Unnamed: 5,Unnamed: 6,Unnamed: 7,Question_3,Unnamed: 9,...,Unnamed: 30,Unnamed: 31,Question_9,Unnamed: 33,Unnamed: 34,Unnamed: 35,Question_10,Unnamed: 37,Unnamed: 38,Unnamed: 39
0,Model_A,Model_B,Model_C,Model_D,Model_A,Model_B,Model_C,Model_D,Model_A,Model_B,...,Model_C,Model_D,Model_A,Model_B,Model_C,Model_D,Model_A,Model_B,Model_C,Model_D
1,4th (Bad),3rd,2nd,1st (Best),4th (Bad),1st (Best),3rd,2nd,2nd,1st (Best),...,4th (Bad),2nd,1st (Best),4th (Bad),2nd,3rd,1st (Best),4th (Bad),3rd,2nd
2,3rd,1st (Best),2nd,4th (Bad),4th (Bad),2nd,3rd,1st (Best),4th (Bad),3rd,...,2nd,1st (Best),4th (Bad),1st (Best),3rd,2nd,4th (Bad),1st (Best),3rd,2nd
3,4th (Bad),3rd,2nd,1st (Best),4th (Bad),2nd,3rd,1st (Best),4th (Bad),3rd,...,4th (Bad),3rd,2nd,4th (Bad),3rd,1st (Best),1st (Best),4th (Bad),3rd,2nd
4,4th (Bad),2nd,3rd,1st (Best),4th (Bad),2nd,3rd,1st (Best),4th (Bad),2nd,...,4th (Bad),3rd,2nd,4th (Bad),3rd,1st (Best),4th (Bad),3rd,2nd,1st (Best)

In [15]:
!pip install pingouin

Collecting pingouin
  Downloading pingouin-0.5.4-py2.py3-none-any.whl.metadata (1.1 kB)
Requirement already satisfied: numpy in /Users/tongfah/anaconda3/envs/nlp/lib/python3.11/site-packages (from pingouin) (1.26.3)
Requirement already satisfied: scipy in /Users/tongfah/anaconda3/envs/nlp/lib/python3.11/site-packages (from pingouin) (1.11.4)
Requirement already satisfied: pandas>=1.5 in /Users/tongfah/anaconda3/envs/nlp/lib/python3.11/site-packages (from pingouin) (2.1.4)
Requirement already satisfied: matplotlib in /Users/tongfah/anaconda3/envs/nlp/lib/python3.11/site-packages (from pingouin) (3.8.0)
Requirement already satisfied: seaborn in /Users/tongfah/anaconda3/envs/nlp/lib/python3.11/site-packages (from pingouin) (0.13.0)
Requirement already satisfied: statsmodels in /Users/tongfah/anaconda3/envs/nlp/lib/python3.11/site-packages (from pingouin) (0.14.2)
Requirement already satisfied: scikit-learn in /Users/tongfah/anaconda3/envs/nlp/lib/python3.11/site-packages (from pingouin) (1.3.0)
Collecting pandas-flavor (from pingouin)
  Downloading pandas_flavor-0.6.0-py3-none-any.whl.metadata (6.3 kB)
Collecting tabulate (from pingouin)
  Downloading tabulate-0.9.0-py3-none-any.whl.metadata (34 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/tongfah/anaconda3/envs/nlp/lib/python3.11/site-packages (from pandas>=1.5->pingouin) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/tongfah/anaconda3/envs/nlp/lib/python3.11/site-packages (from pandas>=1.5->pingouin) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/tongfah/anaconda3/envs/nlp/lib/python3.11/site-packages (from pandas>=1.5->pingouin) (2023.4)
Requirement already satisfied: contourpy>=1.0.1 in /Users/tongfah/anaconda3/envs/nlp/lib/python3.11/site-packages (from matplotlib->pingouin) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /Users/tongfah/anaconda3/envs/nlp/lib/python3.11/site-packages (from matplotlib->pingouin) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/tongfah/anaconda3/envs/nlp/lib/python3.11/site-packages (from matplotlib->pingouin) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/tongfah/anaconda3/envs/nlp/lib/python3.11/site-packages (from matplotlib->pingouin) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /Users/tongfah/anaconda3/envs/nlp/lib/python3.11/site-packages (from matplotlib->pingouin) (23.2)
Requirement already satisfied: pillow>=6.2.0 in /Users/tongfah/anaconda3/envs/nlp/lib/python3.11/site-packages (from matplotlib->pingouin) (10.0.1)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/tongfah/anaconda3/envs/nlp/lib/python3.11/site-packages (from matplotlib->pingouin) (3.1.1)
Collecting xarray (from pandas-flavor->pingouin)
  Downloading xarray-2024.3.0-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: joblib>=1.1.1 in /Users/tongfah/anaconda3/envs/nlp/lib/python3.11/site-packages (from scikit-learn->pingouin) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/tongfah/anaconda3/envs/nlp/lib/python3.11/site-packages (from scikit-learn->pingouin) (2.2.0)
Requirement already satisfied: patsy>=0.5.6 in /Users/tongfah/anaconda3/envs/nlp/lib/python3.11/site-packages (from statsmodels->pingouin) (0.5.6)
Requirement already satisfied: six in /Users/tongfah/anaconda3/envs/nlp/lib/python3.11/site-packages (from patsy>=0.5.6->statsmodels->pingouin) (1.16.0)
Downloading pingouin-0.5.4-py2.py3-none-any.whl (198 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 198.9/198.9 kB 7.3 MB/s eta 0:00:00
Downloading pandas_flavor-0.6.0-py3-none-any.whl (7.2 kB)
Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Downloading xarray-2024.3.0-py3-none-any.whl (1.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 27.7 MB/s eta 0:00:0000:01
Installing collected packages: tabulate, xarray, pandas-flavor, pingouin
Successfully installed pandas-flavor-0.6.0 pingouin-0.5.4 tabulate-0.9.0 xarray-2024.3.0

In [43]:
# Strip the data frame from any redundant columns and rows (like headers repeated)
data_cleaned = data.iloc[1:, :].copy()  # Ignore the first row which repeats the model names

# Rename columns based on the content: each question block has 4 columns for 4 models
columns = []
for i in range(1, 11):  # Assuming there are 10 questions from the data head
    for model in ['Model_A', 'Model_B', 'Model_C', 'Model_D']:
        columns.append(f"Question_{i}_{model}")

data_cleaned.columns = columns

# Replace ordinal rankings with numeric scores
rank_mapping = {'1st (Best)': 1, '2nd': 2, '3rd': 3, '4th (Bad)': 4}
data_cleaned.replace(rank_mapping, inplace=True)

# Display the cleaned data to verify transformations
data_cleaned = data_cleaned.dropna()

data_cleaned.insert(0, "humen number", [1, 2, 3, 4, 5], True)

data_cleaned

,humen number,Question_1_Model_A,Question_1_Model_B,Question_1_Model_C,Question_1_Model_D,Question_2_Model_A,Question_2_Model_B,Question_2_Model_C,Question_2_Model_D,Question_3_Model_A,...,Question_8_Model_C,Question_8_Model_D,Question_9_Model_A,Question_9_Model_B,Question_9_Model_C,Question_9_Model_D,Question_10_Model_A,Question_10_Model_B,Question_10_Model_C,Question_10_Model_D
1,1,1.0,2.0,3.0,4.0,1.0,4.0,2.0,3.0,3.0,...,1.0,3.0,4.0,1.0,3.0,2.0,4.0,1.0,2.0,3.0
2,2,2.0,4.0,3.0,1.0,1.0,3.0,2.0,4.0,1.0,...,3.0,4.0,1.0,4.0,2.0,3.0,1.0,4.0,2.0,3.0
3,3,1.0,2.0,3.0,4.0,1.0,3.0,2.0,4.0,1.0,...,1.0,2.0,3.0,1.0,2.0,4.0,4.0,1.0,2.0,3.0
4,4,1.0,3.0,2.0,4.0,1.0,3.0,2.0,4.0,1.0,...,1.0,2.0,3.0,1.0,2.0,4.0,1.0,2.0,3.0,4.0
5,5,1.0,2.0,3.0,4.0,1.0,2.0,3.0,4.0,1.0,...,3.0,4.0,1.0,2.0,3.0,4.0,1.0,2.0,3.0,4.0

In [44]:
data_cleaned.to_csv('data/Human_Evaluation_Cleaned.csv', index=False)

In [59]:
from sklearn.preprocessing import LabelEncoder

# Reshape the data from wide to long format
long_format = pd.melt(data_cleaned, id_vars=['humen number'], var_name='question_model', value_name='rank')

# Split the 'question_model' column into separate 'question' and 'model' columns
long_format[['question', 'model']] = long_format['question_model'].str.rsplit('_', n=1, expand=True)
long_format.drop(columns='question_model', inplace=True)

# Convert 'question' and 'model' to categorical codes
label_encoder_question = LabelEncoder()
label_encoder_model = LabelEncoder()
long_format['question'] = label_encoder_question.fit_transform(long_format['question'])
long_format['model'] = label_encoder_model.fit_transform(long_format['model'])

# View the restructured data
# long_format.to_csv('data/Human_Evaluation_Long.csv', index=False)
long_format

     humen number  rank  question  model
0               1   1.0         1      0
1               2   2.0         1      0
2               3   1.0         1      0
3               4   1.0         1      0
4               5   1.0         1      0
..            ...   ...       ...    ...
195             1   3.0         0      3
196             2   3.0         0      3
197             3   3.0         0      3
198             4   4.0         0      3
199             5   4.0         0      3

[200 rows x 4 columns]

In [61]:
import pandas as pd
import pingouin as pg

# Load your data
data = pd.read_csv('data/Human_Evaluation_Long.csv')

# Print current column names to verify
print("Current column names:", data.columns)

# Ensure column names are correctly set (adjust as necessary based on the output above)
data.columns = ['rater', 'rating', 'question', 'model']

# Calculate ICC
icc_results = pg.intraclass_corr(data=data, targets='question', raters='rater', ratings='rating', nan_policy='omit')
print(icc_results)

Current column names: Index(['humen number', 'rank', 'question', 'model'], dtype='object')
    Type              Description  ICC   F  df1  df2  pval       CI95%
0   ICC1   Single raters absolute  NaN NaN    9   40   NaN  [nan, nan]
1   ICC2     Single random raters  NaN NaN    9   36   NaN  [nan, nan]
2   ICC3      Single fixed raters  NaN NaN    9   36   NaN  [nan, nan]
3  ICC1k  Average raters absolute  NaN NaN    9   40   NaN  [nan, nan]
4  ICC2k    Average random raters  NaN NaN    9   36   NaN  [nan, nan]
5  ICC3k     Average fixed raters  NaN NaN    9   36   NaN  [nan, nan]

/Users/tongfah/anaconda3/envs/nlp/lib/python3.11/site-packages/pingouin/reliability.py:312: RuntimeWarning: invalid value encountered in scalar divide
  icc1 = (msb - msw) / (msb + (k - 1) * msw)
/Users/tongfah/anaconda3/envs/nlp/lib/python3.11/site-packages/pingouin/reliability.py:313: RuntimeWarning: invalid value encountered in scalar divide
  icc2 = (msb - mse) / (msb + (k - 1) * mse + k * (msj - mse) / n)
/Users/tongfah/anaconda3/envs/nlp/lib/python3.11/site-packages/pingouin/reliability.py:314: RuntimeWarning: invalid value encountered in scalar divide
  icc3 = (msb - mse) / (msb + (k - 1) * mse)
/Users/tongfah/anaconda3/envs/nlp/lib/python3.11/site-packages/pingouin/reliability.py:315: RuntimeWarning: invalid value encountered in scalar divide
  icc1k = (msb - msw) / msb
/Users/tongfah/anaconda3/envs/nlp/lib/python3.11/site-packages/pingouin/reliability.py:316: RuntimeWarning: invalid value encountered in scalar divide
  icc2k = (msb - mse) / (msb + (msj - mse) / n)
/Users/tongfah/anaconda3/envs/nlp/lib/python3.11/site-packages/pingouin/reliability.py:317: RuntimeWarning: invalid value encountered in scalar divide
  icc3k = (msb - mse) / msb
/Users/tongfah/anaconda3/envs/nlp/lib/python3.11/site-packages/pingouin/reliability.py:320: RuntimeWarning: invalid value encountered in scalar divide
  f1k = msb / msw
/Users/tongfah/anaconda3/envs/nlp/lib/python3.11/site-packages/pingouin/reliability.py:325: RuntimeWarning: invalid value encountered in scalar divide
  f2k = f3k = msb / mse
/Users/tongfah/anaconda3/envs/nlp/lib/python3.11/site-packages/pingouin/reliability.py:361: RuntimeWarning: invalid value encountered in scalar divide
  fj = msj / mse